:root {
    --red: rgb(202, 86, 82);
    --red-transparent: rgba(255, 255, 255, 0.1);
    --red-transparent-dark: rgba(0, 0, 0, 0.1);
    --white: rgb(255, 255, 255);
}
/* general style */
body {
    background-color: var(--red);
    color: var(--white);
}
/* header section  */
h1 { 
    font-family: 'ArialRounded', 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif, ' Apple Color Emoji', ' Segoe UI Emoji', ' Segoe UI Symbol';
    font-size: 20px;
}
.header-link-container {
    display: inline-flex;
    align-items: center;
    padding: 10px 0px;
    color: var(--white);
    text-decoration: none;
}
.header-image{
    width: 20px;
    margin-right: 4px;
}
.header-title {
    display: block;
    padding: 10px 0px;
    font-weight: 20px;
    cursor: pointer;
}
.header-button {
    padding: 8px 12px;
    margin-left: 10px;
    min-width: 70px;
    background-color: var(--red-transparent);
    color: var(--white);
    font-size: 13px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
:hover.header-button {
    background-color:rgba(255, 255, 255, 0.5);
}
.profile-image {
    width: 50px;
    cursor: pointer;
}
hr {

}

/* counter section  */

.counter-container {
    background-color: rgb(186, 73, 73);
    color: white;
}

:hover.counter-header > div{
    /* testing */
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.15);
}

.counter-container > .counter-countdown {
    font-size: 80px;
    font-weight: 800;
}

.counter-button > button {
    background-color: white;
    color:  rgb(186, 73, 73);
    border-radius: 2px;
    border: none;

    width: 80px;
    padding: 5px;
}

:hover.counter-button > button {
    background-color: rgb(255, 255, 255, .6);
}

/* flexbox sort containers */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header section */
hr {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.left-container {
    display: flex;
    gap: 2px;
    justify-content: space-around;
}

.header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-container, ul {
    flex: 1;
}

/* counter container flex */
.counter-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.counter-countdown {
    text-align: center;
}

.counter-button {
    display: flex;
    justify-content: center;
}

/* footer container flex and align items */
.footer-container {
    text-align: center;
    margin: 10px;
}